##################
### CodeBlocks ###
##################
*.cbp
*.layout
*.depend

bin/
obj/

#############################################
### Custom Files (does not effect program)###
#############################################
game/
_old/
_unused/
Old Versions/
LOC/

*.txt



