##################
### CodeBlocks ###
##################
*.cbp
*.layout
*.depend

bin/
obj/

#############################################
### Custom Files (does not effect program)###
#############################################
game/
_old/
_unused/
Old Versions/
LOC/

### Final Exec
Kingdom

*.dll
project/


CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

kingdom 

fname.py
